:root {
  --red1: #9e1b32;
  --white1: #ffffff;
  --grey1: #828A8F;
  --grey2: #F7F7F7;
  --black1: #000000;
  --black2: #222222;
}

/* Home Landing */
.customerLanding {
    width: 100%;
    height: calc(500px - 65px);
    background-color: var(--grey1);
    background-image: radial-gradient(circle at top left,rgba(34,34,34,0.5) 0%,rgba(31,62,78,0.6) 100%),url('../images/bkg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: auto;
}
.customerLandingDiv {
    width: 100%;
    display: flexbox;
    margin: auto;
}
.customerlandingInfoDiv {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}
.customerlandingTitle {
    font-size: 45px;
    text-align: center;
    color: var(--white1);
    font-weight: 100;
}
