.pageLanding {
    max-width: 700px;
}

.employeesLandingDiv {
    width: calc(100% - calc(var(--spacing)*2));
    height: 100%;
    padding: 0 var(--spacing) var(--spacing) var(--spacing); 
    display: flex;
}

.employeesLandingSuccessBanner {
    width: 100%;
    height: 0px;
    background-color: #00bb0080;
    color: var(--white1);
    line-height: 50px;
    text-align: center;
    text-anchor: middle;
    border-radius: var(--bdrRad) var(--bdrRad) 0 0;
    -webkit-border-radius: var(--bdrRad) var(--bdrRad) 0 0;
    -moz-border-radius: var(--bdrRad) var(--bdrRad) 0 0;
    -ms-border-radius: var(--bdrRad) var(--bdrRad) 0 0;
    -o-border-radius: var(--bdrRad) var(--bdrRad) 0 0;
}

/* Right Nav Bar */
.employeesLandingRightDiv {
    height: auto;
    flex: 200px;
    border-left: 2px solid var(--p1);
}
.employeesLandingRightBtn {
    display: flex;
    width: 100px;
    height: 50px;
    border-bottom: 1px solid var(--p1);
    margin: auto;
    justify-content: left;
}
.employeesLandingRightBtn.active {
    color: var(--p2);
    border-color: var(--p2);
}
.employeesLandingRightBtn:hover {
    cursor: pointer;
    color: var(--p2);
    border-color: var(--p2);
}
.employeesLandingRightBtn svg {
    width: 20px;
    height: 20px;
    margin: auto 0;
    fill: currentColor;
}
.employeesLandingRightBtn div {
    margin: auto 0;
    padding-left: 10px;
    width: min-content;
    font-size: 22px;
}

.hide {
    opacity: 0;
    display: none;
}

/*  */
.employeesLandingLeftDiv {
    height: max-content;
    flex: calc(100% - 150px);
    padding: 20px;
}
.employeesLandingLeftInfo {
    font-weight: 370;
}
.employeesLandingLeftEditBtnDiv {
    position: relative;
}
.employeesLandingLeftEditBtn {
    display: flex;
    justify-content: right;
    position: absolute;
    right: 0;
    top: 0;
}
.employeesLandingLeftEditBtn:hover {
    cursor: pointer;
    color: var(--p2);
    border-color: var(--p2);
}
.employeesLandingLeftEditBtn div {
    margin: auto 0;
    width: min-content;
    font-size: 22px;
    padding-right: 5px;
}
.employeesLandingLeftEditBtn svg {
    width: 20px;
    height: 20px;
    margin: auto 0;
    fill: currentColor;
}
.employeesLandingFormInput {
    border: none;
    outline: none;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    border-bottom: 1px solid var(--p1);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    font-size: 20px;
    font-family: system-ui;
}
.employeesLandingFormInput:focus-within {
    border-bottom-color: var(--p2);
}

/* Customer & Contact Forms */
.employeesLandingCustomerParent, .employeesLandingContactParent {
    display: inline-block;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin: 0;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.employeesLandingCustomerParent .employeesLandingCustomerTitle, .employeesLandingContactParent .employeesLandingContactTitle {
    border-radius: 10px;
    line-height: 30px;
    height: 30px;
    display: inline;
    float: left;
    padding: 10px 15px;
    width: calc(100% - 30px);
    font-weight: 450;
    box-shadow: #00000059 0px 5px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.employeesLandingCustomerParent .employeesLandingCustomerTitle:hover, .employeesLandingContactParent .employeesLandingContactTitle:hover {
    cursor: pointer;
    background-color: #efefef;
    fill: var(--p2);
    color: var(--p2);
}
.employeesLandingCustomerParent .employeesLandingCustomerTitle svg, .employeesLandingContactParent .employeesLandingContactTitle svg {
    display: inline;
    width: 30px;
    float: right;
}
.employeesLandingCustomerParent .employeesLandingCustomerTitle .up, .employeesLandingContactParent .employeesLandingContactTitle .up {
    display: none;
    overflow: hidden;
}
.employeesLandingCustomerParent .employeesLandingCustomerChild, .employeesLandingContactParent .employeesLandingContactChild {
    display: none;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: #00000059 0px 5px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.employeesLandingCustomerParent .employeesLandingCustomerChildBtn, .employeesLandingContactParent .employeesLandingContactChildBtn {
    margin-top: 10px;
    box-shadow: #00000059 0px 2px 10px;
    padding: 5px 10px;
    padding-top: 7px;
    border-radius: 10px;
    text-align: center;
    background-color: #bb000080;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.employeesLandingCustomerParent .employeesLandingCustomerChildBtn:hover, .employeesLandingContactParent .employeesLandingContactChildBtn:hover {
    cursor: pointer;
    background-color: #bb0000aa;
}
.employeesLandingCustomerParent .employeesLandingCustomerChildBtn span, .employeesLandingContactParent .employeesLandingContactChildBtn span {
    vertical-align: top;
    line-height: 30px;
}
.employeesLandingCustomerParent .employeesLandingCustomerChildBtn svg, .employeesLandingContactParent .employeesLandingContactChildBtn svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-top: 4px;
}
.employeesLandingCustomerParent.selected:hover, .employeesLandingContactParent.selected:hover {
    background-color: inherit;
}
.employeesLandingCustomerParent.selected .employeesLandingCustomerTitle, .employeesLandingContactParent.selected .employeesLandingContactTitle {
    border: none;
    box-shadow: none;
}
.employeesLandingCustomerParent.selected .employeesLandingCustomerTitle:hover, .employeesLandingContactParent.selected .employeesLandingContactTitle:hover {
    cursor: pointer;
    background-color: inherit;
}
.employeesLandingCustomerParent.selected .employeesLandingCustomerTitle .up, .employeesLandingContactParent.selected .employeesLandingContactTitle .up {
    display: inline;
    overflow: visible;
}
.employeesLandingCustomerParent.selected .employeesLandingCustomerTitle .down, .employeesLandingContactParent.selected .employeesLandingContactTitle .down {
    display: none;
    overflow: hidden;
}
.employeesLandingCustomerParent.selected .employeesLandingCustomerChild, .employeesLandingContactParent.selected .employeesLandingContactChild {
    display: block;
    overflow: visible;
    padding: 10px 15px;
    width: calc(100% - 30px);
}