html, body {
    margin: 0 auto;
	padding: 0;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-family: system-ui;
    font-weight: 300;
    background-color: var(--bkg);
    display: flex;
}
body {
    height: max-content;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}
a.anchor {
    display: block;
    position: relative;
    top: -65px;
    visibility: hidden;
}
:root {
    --p1: #949ca3d0;
    --p2: #9e1b32; /* Blue: 1b5f9e*/
    --white1: #ffffff;
    --black1: #000000;
    --bkg: #828A8F;
    --wdth: 80%;
    --spacing: 20px;
}

/* Navbar */
.nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    animation: fadeIn 0.5s linear;
    -webkit-animation: fadeIn 0.5s linear;
}
.navbar {
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    background-color: var(--white1);
    box-shadow: 0 0 7px #0000001a;
}
.logo_div {
    margin: 10px 15px;
}
.logo {
    height: 43.75px;
    cursor: pointer;
}
.menuLarge_div {
    margin: 10px;
    position: absolute;
    right: 0;
}
.menuLarge_optionDiv {
    display: inline-block;
}
.menuLarge_optionDiv a {
    padding: 7px;
    color: var(--black1);
    font-size: 20px;
    border-right: 1px solid var(--p2);
}
.menuLarge_optionDiv a:last-child {
    padding: 7px;
    color: var(--black1);
    font-size: 20px;
    border-right: none;
}
.menuLarge_optionDiv a:focus, .menuLarge_optionDiv a:hover {
    color: var(--p2);
}
.menuSmall_div {
    cursor: pointer;
    margin: 10px 15px;
    width: min-content;
    height: min-content;
    position: absolute;
    right: 0px;
    opacity: 0;
    display: none;
}
.menuSmall_div:hover .menu_bar, .menuSmall_div:focus .menu_bar {
    background-color: var(--p2);
}
.menu_bar {
    width: 25px;
    height: 3px;
    background-color: var(--black1);
    margin: 5px 0;
}
.menuOverlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #828A8Fe6;
    overflow-x: hidden;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.menuOverlay_optionDiv {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.menuOverlay a {
    width: 200px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 36px;
    color: var(--white1);
    display: block;
    
}
.menuOverlay a:hover, .menuOverlay a:focus {
    color: var(--p2);
}
.menuOverlay .menuOverlay_closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    font-size: 40px;
}
.fade {
    opacity: 0 !important;
}

/* Home Background */
.homeBackground {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#22222240 0%,#22222240 60%, var(--bkg) 100%),url('../images/bkg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 0.5s linear;
    -webkit-animation: fadeIn 0.5s linear;
}

/* Home Landing */
.homeLanding {
    position: relative;
    width: var(--wdth);
    display: block;
    margin: auto;
    margin-bottom: var(--spacing);
    margin-top: 65px;
    height: 60vh;
    animation: fadeIn 0.5s linear;
    -webkit-animation: fadeIn 0.5s linear;
}
.homeLandingDiv {
    width: 100%;
    display: flexbox;
    margin: auto;
}
.landingInfoDiv {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.landingLogoDiv {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.landingLogo {
    width: 300px;
}
.landingText {
    margin-top: 30px;
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    color: var(--white1);
    font-weight: 100;
    border-top: 1px solid var(--white1);
}

/* General Page Landing */
.pageLanding {
    position: relative;
    width: var(--wdth);
    display: block;
    margin: auto;
    margin-bottom: var(--spacing);
    background-color: var(--white1);
    border-radius: 10px;
    animation: fadeIn 0.5s linear;
    -webkit-animation: fadeIn 0.5s linear;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.pageLandingTitleDiv {
    width: 100%;
    text-align: center;
}
.pageLandingTitle {
    display: inline-block;
    color: var(--black1);
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid var(--black1);
    padding: 25px 0;
    margin-bottom: 25px;
}

/* Index Page Landings */
.processLanding, .projectsLanding, .testimonialsLanding {
    position: relative;
    width: var(--wdth);
    display: block;
    margin: auto;
    margin-bottom: var(--spacing);
    animation: fadeIn 0.5s linear;
}
/* Process Landing */
.processLandingDiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.processLandingContainer {
    flex: calc(33% - var(--spacing));
    margin: 0;
    border-radius: 10px;
    background-color: white;
    height: max-content;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
.processLandingContainer:nth-child(2) {
    margin: 0 var(--spacing);
}
.processLandingContainerPicDiv {
    width: 100%;
    height: max-content;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}
.processLandingContainerPic {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
.processLandingContainerPicGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    background: linear-gradient(#00000000 0%,#88888880 50%, var(--white1) 100%);
}
.processLandingContainerTitleDiv {
    width: 80%;
    margin: auto;
    display: flex;
}
.processLandingContainerTitle {
    font-size: 25px;
    height: 100%;
    flex: 50%;
    text-align: left;
    margin: auto;
    color: var(--black1);
    font-weight: 400;
}
.processLandingContainerLogo {
    height: 100px;
    flex: 50%;
}
.processLandingContainerTextDiv {
    width: 80%;
    margin: auto;
    display: flex;
    margin-bottom: 25px;
}

/* Projects Landing */
.projectsLandingDiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projectsLandingContainerLeft {
    flex: 30%;
    border-radius: 10px 0 0 10px;
    background-color: var(--p2);
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    color: var(--white1);
}
.projectsLandingContainerLeftTitleDiv, .projectsLandingContainerLeftLogoDiv, .projectsLandingContainerLeftOptionsDiv {
    width: 80%;
    margin: auto;
    display: flex;
    margin-bottom: 25px;
}
.projectsLandingContainerLeftTitleDiv {
    margin-top: 25px;
}
.projectsLandingContainerLeftTitle {
    font-size: 25px;
    height: 100%;
    flex: 50%;
    text-align: left;
    margin: auto;
    font-weight: 400;
}
.projectsLandingContainerLeftLogo {
    width: 50px;
    height: 50px;
    background-color: var(--white1);
}
.projectsLandingContainerLeftOptionsDiv {
    display: block;
}
.projectsLandingContainerLeftOptions {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--p1);
    margin: 5px 0;
    width: 100px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    font-weight: 400;
}
.projectsLandingContainerLeftOptions:hover {
    cursor: pointer;
}
.projectsLandingContainerRight {
    flex: 70%;
    border-radius: 0 10px 10px 0;
    background-color: white;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    display: flex;
}
.projectsLandingContainerRightTextDiv {
    flex: auto;
    margin: auto;
    display: block;
    text-align: left;
}
.projectsLandingContainerRightTitle {
    margin: auto;
    margin-bottom: 5px;
    width: 80%;
    font-size: 20px;
    font-weight: 400;
}
.projectsLandingContainerRightText {
    margin: auto;
    width: 80%;
}
.projectsLandingContainerRightButtonDiv {
    width: 80%;
    margin: auto;
    margin-top: var(--spacing);
}
.projectsLandingContainerRightButton {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--p2);
    width: 100px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    font-weight: 400;
    color: var(--white1);
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--p2);
}
.projectsLandingContainerRightButton:hover {
    cursor: pointer;
    background-color: var(--p1);
    border: 1px solid var(--p2);
}
.projectsLandingContainerRightImgDiv {
    flex: 50%;
    margin: auto;
    display: flex;
}
.projectsLandingContainerRightImg {
    height: 300px;
    width: 90%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: linear-gradient(to left top, #00000000 70%, #ffffffff 100%), url(../images/bkg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

/* Testimonials Landing*/
.testimonialsLandingDiv {
    width: 100%;
    height: 500px;
}

/* @MEDIA */
@media screen and (max-height: 530px) {
    .menuOverlay a {
        font-size: 20px
    }
}
@media only screen and (max-width: 1000px) {
    .menuLarge_div {
        opacity: 0 !important;
        display: none !important;
    }
    .menuSmall_div {
        opacity: 1 !important;
        display: block !important;
    }
    .landingInfoDiv {
        width: 80%;
    }
    .tempPopupContainerX {
        font-size: 35px;
    }
    .tempPopupContainerTitle {
        font-size: 25px;
        text-align: left;
        margin-top: 5px;
    }
    .tempPopupContainerText {
        font-size: 20px;
    }
    .processLandingContainer {
        flex: 100% !important;
        max-width: unset !important;
    }
    .processLandingContainer:nth-child(1) {
        margin: 0 !important;
    }
    .processLandingContainer:nth-child(2) {
        margin: var(--spacing) 0 !important;
    }
    .processLandingContainer:nth-child(3) {
        margin: 0 !important;
    }
    .projectsLandingContainerLeft {
        flex: 100%;
        border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        -ms-border-radius: 10px 10px 0 0;
        -o-border-radius: 10px 10px 0 0;
    }
    .projectsLandingContainerLeftTitle {
        text-align: center;
    }
    .projectsLandingContainerLeftLogoDiv {
        justify-content: center;
    }
    .projectsLandingContainerLeftOptions {
        margin: 5px auto;
    }
    .projectsLandingContainerRight {
        flex: 100%;
        border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -ms-border-radius: 0 0 10px 10px;
        -o-border-radius: 0 0 10px 10px;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
    }
    .projectsLandingContainerRightTextDiv {
        flex: 100% !important;
        text-align: center;
        margin-top: var(--spacing) !important;
    }
    .projectsLandingContainerRightButton {
        margin: auto;
    }
    .projectsLandingContainerRightImgDiv {
        flex: 100% !important;
        margin: var(--spacing) !important;
    }
    .projectsLandingContainerRightImg {
        margin: auto;
    }
}
@media only screen and (min-width: 1001px) {
    .menuLarge_div {
        opacity: 1 !important;
        display: inline-block !important;
    }
    .menuSmall_div {
        opacity: 0 !important;
        display: none !important;
    }
}
@media only screen and (max-width: 1200px) {
    .processLandingContainer {
        flex: calc(50% - calc(var(--spacing)/2));
        flex-grow: 0;
        margin: 0;
        width: 100%;
    }
    .processLandingContainer:nth-child(1) {
        margin: 0 var(--spacing) 0 0;
    }
    .processLandingContainer:nth-child(2) {
        margin: 0 0 0 0;
    }
    .processLandingContainer:nth-child(3) {
        margin: var(--spacing) 0 0 0;
        flex: 100%;
        max-width: 500px;
    }
}

/* KEYFRAMES */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}